<div class="container mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">My Workout Programs</h1>
    <%= link_to "New Workout Program", new_program_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>

  <%# Flash messages will be handled by a shared partial, potentially via Turbo Stream updates %>
  <%= render "shared/flash_messages" %>

  <%= turbo_frame_tag "user_programs_list" do %>
    <%# The controller populates @program_types as an array of hashes, each hash has a :programs key %>
    <% if @program_types.nil? || @program_types.all? { |pt| pt[:programs].empty? } %>
      <p>You haven't created any workout programs yet. Get started by creating one!</p>
    <% else %>
      <% @program_types.each do |program_type_group| %>
        <% if program_type_group[:programs].any? %>
          <h2 class="text-xl font-semibold mt-6 mb-3"><%= program_type_group[:name] %></h2>
          <div class="program-cards-container"> <%# Simple div for now, can add grid later %>
            <% program_type_group[:programs].each do |program| %>
              <%= render "program_card", program: program %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>